.bold
{
	font-weight: bold;
}
.color-white
{
	color: #fff;
}
.color-gray
{
	color: #999;
}
.color-orange
{
	color: #008543;
}
.orange-on-hover:hover
{
	color:#008543;
}
.a-teg-color
{
	color:#337ab7;
}
.bg-orange
{
	background: #008543;
}
.bg-white
{
	background: #ffffff;
}
.justify
{
	text-align: justify;
}
.text-right
{
	text-align: right;
}
.text-center
{
	text-align: center;
}
.no-border
{
	border:none;
}
.flex
{
	display: flex;
}
.w-100
{
	width: 100%;
}
.pd-0
{
	padding: 0;
}
.pd-5
{
	padding: 5px;
}
.pd-10
{
	padding: 10px;
}
.pd-15
{
	padding: 15px;
}

.mg-0
{
	margin: 0;
}

.mg-t-5
{
	margin-top: 5px;
}
.mg-10
{
	margin: 10px;
}
.mg-t-10
{
	margin-top: 10ppx;
}
.mg-t-25
{
	margin-top: 25px;
}
.mg-t-40
{
	margin-top: 40px;
}

.height-400
{
	height: 400px;
}
.height-250
{
	height: 250px;
}
.center
{
	text-align: center;
}
.right
{
	text-align: right;
}
.inline
{
	display: inline;
}
.inline-block
{
	display: inline-block;
}
.mg-0
{
	margin: 0;
}
.mg-5
{
	margin: 5px;
}
.fz-12
{
	font-size: 12px;
}
.fz-14
{
	font-size: 14px;
}
.fz-15
{
	font-size: 15px;
}
.fz-17
{
	font-size: 17px;
}

.fz-18
{
	font-size: 18px;
}
.fz-22
{
	font-size: 22px;
}
.br-4
{
	border-radius: 4px;
}
.b1ef
{
	border:1px solid #EFEFEF;
}
.b1e6
{
	border: 1px solid #e6e6e6;
}

.facilities .owl-next
{
	position: absolute!important;
	top: 30%!important;
	right:0!important;
	background: #000!important;
}
.facilities .owl-prev
{
	position: absolute!important;
	top: 30%!important;
	left:0!important;
	background: #000!important;
}

.facilities

{
	padding: 0px 20px 0px 20px;
}


.options .col-md-2
{
	cursor: pointer;

}

.options .col-md-2 p
{
	font-size: 13px;
	font-weight: bold;
	margin: 5px;
	
}


	.desktop-version
	{
		display: block!important;
	}
	.mobile-version
	{
      display: none!important;
	}

@media only screen and (max-width: 767px)
{
    .about-us-footer
    {
    	text-align: center;
    }

}

@media only screen and (max-width: 991px)
{
	.desktop-version
	{
		display: none!important;
	}
	.mobile-version
	{
      display: block!important;
	}
	.circle
	{
		width: 100%;
		margin: 5px;
		height: auto;
		border-radius: 4px;
		padding: 10px;
	}
	.owl-prev
	{
		position: absolute;
		left: 0;
		top: 40%;
	}
	.owl-next
	{
		position: absolute;
		right: 0;
		top: 40%;
	}
	.first-owl .owl-prev
	{
		top: 50%;
	}
	.first-owl .owl-next
	{
		top: 50%;
	}
	
	.Categories-owl .owl-prev
	{
		top: 20%;
	}
	.Categories-owl .owl-next
	{
		top: 20%;
	}
}